<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="/media/styles.css" />
		<script src="/media/jquery-1.4.4.min.js" type="text/javascript"></script>
		<script src="/media/jquery.validate.js" type="text/javascript"></script>
		
		<script>
			$(document).ready(function(){
				var n = $("input:unchecked").length;
				alert(n);
				$('form').validate({
					
    				debug: false ,
    				rules:{
    					{% for b in a %}
    					{{b.id}} : "required",
    					{% endfor %}
    				},
    				messages: {
    					{% for b in a %}
    					{{b.id}} : "{{forloop.counter}}번 문제를 안풀었어요. 모든 문제를 풀어야 넘어가요",
    					{% endfor %}
    					
    				},
    				onkeyup:false,
onclick:false,
onfocusout:false,
showErrors:function(errorMap, errorList){
alert(errorList[0].message);
}   			
    				
    				
    				
				});  
				

			});
		</script>
	</head>
	
