<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="/media/styles.css" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
  		<script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/validate/jquery.validate.js"></script>
  	
		<script>
			$(document).ready(function(){
			    
				
				$("form").validate({
    				debug: true
     				var n = $("input:unchecked").length;
     				alert(n);
     				rules: {
       					name: "required",
       					email: {
         					required: true,
         					email: true
       					}
            		},
     				messages: {
       					name: "Please specify your name",
       					email: {
         					required: "We need your email address to contact you",
         					email: "Your email address must be in the format of name@domain.com"
       					}
     				}
				});  
				
				$('form').submit(function() {
					
					var a = $("li[class*='titleQuiz']").size();
					var b = $("input:checked").size();
					
					if (a > b){
  						alert("안푼문제있음. 다 풀것");
  						return false;
  					}
  					
				});
			});
		</script>
	</head>
	
