 	{% load highlight %}
{% include 'layout/header.html' %}
	<body >
		<header>
			<hgroup>
				<h1>Company Name</h1>
				<h2>An example of HTML5 and CSS3 in action</h2>
			</hgroup>
		</header>

		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul> 
		</nav>

		<article>
			<header>
				<time datetime="2010-01-12" pubdate>
					<span>Jan</span> 12
				</time>
				<h1>
					<a href="#" title="Link to this post" rel="bookmark">Article Heading</a>
				</h1>
			</header>
			<p>article </p>

			<section>
				<header>
					<h1>문제풀이 {{1|countQuiz:num}}  </h1>
				</header>
				
					{% if %}}

						
					
			</section>
		</article>

{% include 'layout/footer.html' %}