<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

		<script src="/media/jquery-1.4.4.min.js" type="text/javascript"></script>
		<script src="/media/jquery.validate.js" type="text/javascript"></script>
	  
  <script>
  $(document).ready(function(){
    
    function countUnchecked() {
      var n = $("input:unchecked").length;
      $("div").text(n + (n == 1 ? " is" : " are") + " unchecked!");
    }
    countUnchecked();
    $(":checkbox").click(countUnchecked);

  });
  </script>
  <style>
  div { color:red; }
  </style>
</head>
<body>
  <form>
    <input type="checkbox" name="newsletter" checked="checked" value="Hourly" />
    <input type="checkbox" name="newsletter" value="Daily" />
    <input type="checkbox" name="newsletter" value="Weekly" />
    <input type="checkbox" name="newsletter" checked="checked" value="Monthly" />
    <input type="checkbox" name="newsletter" value="Yearly" />
  </form>
  <div></div>
</body>
</html>